* {
    margin: 0;
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 500px; /* your desired width */
    max-width: 50%;
    min-height: 600px;
    max-height: 50%;
    vertical-align:middle;
    background-color: rgb(41, 41, 41);
}

ul {
    list-style: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 20px;
}

li {
    background-color: rgba(255, 255, 255, 0.616);
    font-family: Arial, Helvetica, sans-serif; 
    border: solid rgba(124, 124, 124, 0.205) 0.5px; 
    display: inline-block;
    margin: 1px;
    animation: fadeIn 800ms;
}

#vtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
#vvalue {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    margin: 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    word-break: break-word;
    white-space: pre-wrap;;
}

a:hover {
    text-decoration: none;
}

.themic {
    width: 20px;
    margin-bottom: 3px;
}

.thetitle, .thenote {
    margin: 0; 
    border: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.644);
    color: black;
}
.thetitle {
    margin-top: 55px;
    width: 350px;
    height: 35px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.thenote {
    width: 350px;
    height: 120px;
}

.thetitle:hover, .thenote:hover {
    color: black;
}
.thetitle:active, .thenote:active {
    border: none;
}

#createThing {
    margin-bottom: 1px; 
    height: 40px; 
    width: 354px;
    background-color: #ffcc53;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-size: 20px;
    border: solid 1px rgba(0, 0, 0, 0.089);
}
#createThing:hover {
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.644) 2px ;
}

#clear, #settings {
    width: 24px;
    background-color: rgba(255, 255, 255, 0.205);
    border: none;
    padding: 5px;
    border-radius: 20%;
}

#clear:hover, #settings:hover {
    background-color: white;
    cursor: pointer;
}



.circle {
    z-index: -1;
    position: fixed;
    background-color: #fffaee;
    padding: 240px;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    height: 65px;
    width: 22px;
}

.logo {
    position: absolute;
    top: 3%;
    left: 90%;
    width: 60px;
    height: 60px;
}

textarea {
    white-space: pre-wrap;
    resize: vertical;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.xbtn {
    cursor: pointer;
    margin-top: 5px;
    width: 11px;
    height: 11px;
    float: left;
    border: none;
}
.ebtn {
    cursor: pointer;
    width: 14px;
    height: 14px;
    float: right;
    border: none;
}

button:hover {
    cursor: pointer;
}

.colorbtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 100px;
    margin: 0;
}

#red:hover {
    background-color: #ff4747;
    border: none;
    width: 100px;
}
#blue:hover {
    background-color: #5ed4ff;
}
#yellow:hover {
    background-color: #ffcc53;
}
#green:hover {
    background-color: #54ff6e;
}
#orange:hover {
    background-color: #ff8f40;
}
#purple:hover {
    background-color: #af59ff;
}
#dark:hover {
    background-color: rgb(37, 37, 37);
}
#light:hover{
    background-color: white;
}

.coloraddbtn {
    background-color: rgba(255, 255, 255, 0.336);
    border: none;
    margin-top: 3px;
    width: 20px;
}

.thebgcolor {
    margin-top: 10px;
    width: 200px;
    border: solid 1px rgba(0, 0, 0, 0.192);
}
.thebtncolor {
    width: 200px;
    border: solid 1px rgba(0, 0, 0, 0.192);
}

#back {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 5%;
    top: 10%;
}

#section {
    animation: fadeIn 400ms;
}

.cbtn {
    width: 7px;
    height: 7px;
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 81.5%;
    display: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}